/* Colors */
$color-white: #fff;
$color-black: #000;
$color-dark: #201e28;
$color-dark-hov: #2f2c3a;
$color-gray: #95939f;
$color-light: #f4f4f4;
$color-accent: #f9615d;
$color-green: #79ba7e;
$color-blue: #009eff;

/* Margin */
$margin-default: 30px;
